@import "../variables/variables";
@import "../mixins/mixins";
// ==========  Button   ========== //

.md-button{
  background: transparent;
  border: none;
  border-radius: $button-border-radius;
  color: $button-default-color-alt;
  position: relative;
  height: $button-height;
  min-width: $button-min-width;
  padding: 0 $button-padding;
  display: inline-block;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover{
    background-color: $button-hover-color;
  }

  &:focus:not(:active) {
    background-color: $button-focus-color;
  }

  &:active {
    background-color: $button-active-color;
  }

  &[disabled][disabled],
  &.md-button--disabled.md-button--disabled {
    color: $button-disabled-color;
    cursor: default;
    background-color: $button-disabled-background;
  }

  //Button Modifiers
  &--primary {
    color: $button-primary-color;

    &:hover{
      background-color: $button-primary-hover-color;
    }

    &:focus:not(:active) {
      background-color: $button-primary-hover-color;
    }

    &:active {
      background-color: $button-primary-active-color;
    }

    & .md-ripple {
      background: $button-primary-ripple-color;
    }

    &.md-button--raised, &.md-button--fab {
      color: $button-primary-color-txt;
      background-color: $button-primary-color;

      &:hover{
        background-color: $button-primary-color;
      }

      &:focus:not(:active) {
        background-color: $button-primary-color;
      }

      &:active {
        background-color: $button-primary-raised-active-color;
      }
    }

    &.md-button--outline{
      border-color: $button-primary-color;
      color: $button-primary-color;
      &:hover, &:focus:not(:active),&:active {
        background: $button-primary-color;
        color: $button-primary-color-txt;
      }
      [data-theme="dark"] &{
        border-color: $button-primary-color;
        &:hover, &:focus:not(:active),&:active {
          background: $button-primary-color;
          color: $button-primary-color-txt;
        }
      }
    }
  }

  &--accent {
    color: $button-accent-color;

    &:hover{
      background-color: $button-accent-hover-color;
    }

    &:focus:not(:active) {
      background-color: $button-accent-hover-color;
    }

    &:active {
      background-color: $button-accent-active-color;
    }

    & .md-ripple {
      background: $button-fab-text-color-alt;
    }

    &.md-button--raised, &.md-button--fab, &.md-button--colored {
      color: $button-accent-color-txt;
      background-color: $button-accent-color;
      &:hover{
        background-color: $button-accent-color;
      }
      &:focus:not(:active) {
        background-color: $button-accent-color;
      }
      &:active {
        background-color: $button-accent-raised-active-color;
      }
    }

    &.md-button--outline{
      border-color: $button-accent-color;
      color: $button-accent-color;
      &:hover, &:focus:not(:active),&:active {
        background: $button-accent-color;
        color: $button-accent-color-txt;
      }
      &.md-button--primary{
        border-color: $button-primary-color;
      }
      &.md-button--accent{
        border-color: $button-accent-color;
      }
      [data-theme="dark"] &{
        border-color: $button-accent-color;
        &:hover, &:focus:not(:active),&:active {
          background: $button-accent-color;
          color: $button-accent-color-txt;
        }
      }
    }

  }

  &--raised {
    background: $button-default-color;
    @include shadow-2dp();

    &:active {
      @include shadow-4dp();
      background-color: $button-active-color;
    }

    &:focus:not(:active) {
      @include focus-shadow();
      background-color: $button-active-color;
    }

    &[disabled][disabled],
    &.md-button--disabled.md-button--disabled {
      color: $button-disabled-color;
      cursor: default;
      box-shadow: none;
      background-color: $button-disabled-background;
    }
  }

  &--flat{
    box-shadow: none;

    &:active {
      box-shadow: none;
    }

    &:focus:not(:active) {
      box-shadow: none;
    }
  }

  &--fab {
    border-radius: 50%;
    font-size: $button-fab-font-size;
    height: $button-fab-size;
    margin: auto;
    min-width: $button-fab-size;
    width: $button-fab-size;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: normal;
    background: $button-fab-color-alt;
    @include shadow-6dp();

    &:hover{
      background: $button-fab-color-alt;
    }

    &:active,
    &:focus{
      @include shadow-12dp();
    }

    & .material-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(- $button-fab-font-size / 2, - $button-fab-font-size / 2);
      -webkit-transform: translate(- $button-fab-font-size / 2, - $button-fab-font-size / 2);
      line-height: $button-fab-font-size;
      width: $button-fab-font-size;
    }

    & .svg-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(- $button-fab-font-size / 2, - $button-fab-font-size / 2);
      line-height: $button-fab-font-size;
      width: $button-fab-font-size;
      svg{
        width: $button-fab-svg-size;
        height: $button-fab-svg-size;
      }
    }

    &.md-button--mini-fab {
      height: $button-fab-size-mini;
      min-width: $button-fab-size-mini;
      width: $button-fab-size-mini;
    }

    & .md-button__ripple-container {
      border-radius: 50%;
    }

    &:active {
      @include shadow-4dp();
      background-color: $button-active-color;
    }

    &:focus:not(:active) {
      @include focus-shadow();
      background-color: $button-active-color;
    }

    &.is-fixed{
      position: fixed;
      bottom:16px;
      right: 16px;
      z-index: 20;
    }
  }

  &--icon {
    border-radius: 50%;
    font-size: $button-fab-font-size;
    height: $button-icon-size;
    margin-left: 0;
    margin-right: 0;
    min-width: $button-icon-size;
    width: $button-icon-size;
    padding: 0;
    overflow: hidden;
    line-height: normal;
    &.is-thin{
      min-width: 0;
      width: 24px;
      border-radius: 4px;
      &.is-last{
        margin-right: -4px;
      }
    }

    & .material-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(- $button-fab-font-size / 2, - $button-fab-font-size / 2);
      line-height: $button-fab-font-size;
      width: $button-fab-font-size;
      font-size: $button-fab-font-size;
    }

    &.md-button--mini-icon {
      height: $button-icon-size-mini;
      min-width: $button-icon-size-mini;
      width: $button-icon-size-mini;

      & .material-icons {
        top: ($button-icon-size-mini - $button-fab-font-size) / 2;
        left: ($button-icon-size-mini - $button-fab-font-size) / 2;
      }
    }

    &.md-button--big-icon {
      height: $button-icon-big;
      min-width: $button-icon-big;
      width: $button-icon-big;
      & .material-icons {
        transform: translate(- $button-icon-big-font-size / 2, - 12px);
        font-size: $button-icon-big-font-size;
      }
    }

    & .md-button__ripple-container {
      border-radius: 50%;
    }

    & svg{
      top: 0;
      left: 0;
      position: absolute;
      height: $button-fab-font-size;
      width: $button-fab-font-size;
      vertical-align: middle;
      transform: translate($button-fab-font-size / 6, $button-fab-font-size / 6);
    }
  }

  &--outline{
    line-height: 32px;
    &.md-button--large{
      line-height: 46px;
    }
    border:1px solid $button-outline-color;
    color: $button-outline-color;
    box-sizing: border-box;

    &:hover{
      background: $button-outline-color;
      color: $button-outline-color-alt;
    }

    &:focus:not(:active) {
      background: $button-outline-color;
      color: $button-outline-color-alt;
    }

    &:active {
      background: $button-outline-color;
      color: $button-outline-color-alt;
    }
  }

  &--compact{
    padding: 0 8px;
  }

  &--dense{
    height: $button-dense-height;
    line-height: 32px;
    padding: 0 $button-dense-padding;
    font-size: 13px;
  }

  &--large{
    height: $button-large-height;
    line-height: $button-large-height;
    padding: 0 $button-dense-padding;
    font-size:16px;
  }

  &--block{
    width: 100%;
  }

  &--link{
    padding: 6px 12px;
    height: 32px;
    line-height: 22px;

    &:hover{
      background: none;
      text-decoration: underline;
    }
  }

  &--profile{
    width:$button-fab-size-mini;
    height: $button-fab-size-mini;
    min-width: 0;
    border-radius: 50%;
    padding: 0;
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: $button-fab-size-mini;
    font-size: 24px;
    font-weight: 500;
    background-color: unquote("rgba(#{$palette-grey-500}, 1)");

    &:hover,&:active,&:focus{
      background-color: unquote("rgba(#{$color-accent}, 1)") !important;
    }
  }

  &--has-icon{
    padding-left: 32px;
    &.is-right-align{
      padding-left: $button-padding;
      padding-right: 32px;
      & .material-icons{
        right: 18px;
        left: auto;
        transform: translate(12px, -12px);
      }
    }
    & .material-icons{
      position: absolute;
      top: 50%;
      left: 18px;
      transform: translate(-12px, -12px);
      line-height: 24px;
      width: 24px;
    }
  }

}
//Group Button Block
.md-group-button{
  display: flex;
  flex-direction: row;
  //Group Button Item
  &__item{
    height: $button-group-size;
    min-width: $button-group-width;
    overflow: hidden;
    line-height: normal;
    border-radius: 0;
    color: $button-group-font-color;

    &:first-child{
      border-bottom-left-radius: $button-border-radius;
      border-top-left-radius: $button-border-radius;
    }
    &:last-child{
      border-bottom-right-radius: $button-border-radius;
      border-top-right-radius: $button-border-radius;
    }

    &.is-selected{
      background-color: $button-group-selected-background !important;
      color: $button-group-selected-color-alt;
    }

    & .material-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(- $button-group-size / 2, - $button-group-size / 2);
      line-height: $button-group-size;
      width: $button-group-size;
      font-size: $button-group-icon-font-size;
    }

    &:hover{
      background-color: transparent;
    }

    &:focus:not(:active) {
      background-color: $button-group-hover-color;
    }

    &:active {
      background-color: $button-group-active-color;
    }

    .is-option-selected &{
      background-color: unquote("rgb(#{$color-white})");;
    }
  }
}
