@import "color-theme";

// ==========  Buttons  ========== //

$button-min-width: 64px ;
$button-height: 36px;
$button-dense-height: 32px;
$button-large-height: 48px;
$button-padding: 16px;
$button-dense-padding: 8px;
$button-large-padding: 24px;
$button-margin: 4px ;
$button-border-radius: 2px;

$button-fab-size: 56px ;
$button-fab-size-mini: 40px ;
$button-fab-font-size: 24px;
$button-fab-svg-size: 24px;

$button-group-size: 36px;
$button-group-width: 48px;
$button-group-icon-font-size: 24px;
$button-group-font-color: unquote("rgba(#{$color-black}, 0.54)");

$button-icon-size: 32px;
$button-icon-size-mini: 24px;
$button-icon-big: 40px;
$button-icon-big-font-size: 32px;
// Button background colors.
$button-default-color: unquote("rgba(#{$palette-grey-500}, 0.20)") !default;
$button-primary-color: unquote("rgb(#{$color-primary})") !default;
$button-primary-hover-color: unquote("rgba(#{$color-primary},0.12)") !default;
$button-primary-active-color: unquote("rgba(#{$color-primary},0.26)") !default;
$button-primary-raised-active-color: unquote("rgb(#{$color-primary-hue-2})") !default;

$button-accent-color: unquote("rgb(#{$color-accent})") !default;
$button-accent-hover-color: unquote("rgba(#{$color-accent},0.12)") !default;
$button-accent-active-color: unquote("rgba(#{$color-accent},0.26)") !default;
$button-accent-raised-active-color: unquote("rgb(#{$color-accent-hue-2})") !default;

$button-hover-color: unquote("rgba(#{$palette-grey-500},0.2)") !default;
$button-active-color: unquote("rgba(#{$palette-grey-500}, 0.40)") !default;


$button-dark-theme-hover-color: unquote("rgba(#{$color-white},0.14)") !default;
$button-dark-theme-active-color: unquote("rgba(#{$color-white},0.26)") !default;

$button-focus-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$button-outline-color: unquote("rgba(#{$color-black},0.84)") !default;
$button-outline-dark-theme-color: unquote("rgba(#{$color-white},1)") !default;

$button-group-hover-color: unquote("rgba(#{$palette-grey-500},0.2)") !default;
$button-group-active-color: unquote("rgba(#{$palette-grey-500}, 0.40)") !default;
$button-group-selected-background: $button-group-active-color;

// Button text colors.
$button-default-color-alt: unquote("rgba(#{$color-black}, 0.84)") !default;
$button-primary-color-txt: unquote("rgb(#{$color-primary-contrast})") !default;
$button-accent-color-txt: unquote("rgb(#{$color-accent-contrast})") !default;
$button-primary-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;
$button-hover-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-active-color-alt: unquote("rgba(#{$color-primary})") !default;
$button-focus-color-alt: $button-focus-color !default;
$button-outline-color-alt: unquote("rgb(#{$color-white})") !default;
$button-outline-dark-theme-color-alt: unquote("rgba(#{$color-black},.84)") !default;
$button-group-selected-color-alt: $button-default-color-alt;

// Ripple color for colored raised buttons.
$button-ripple-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;
$button-primary-ripple-color: unquote("rgba(#{$color-primary}, 0.20)") !default;

// Disabled button colors.
$button-disabled-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$button-disabled-dark-theme-color: unquote("rgba(#{$color-white}, 0.3)") !default;
$button-disabled-background: unquote("rgba(#{$color-black}, 0.12)") !default;
$button-disabled-dark-theme-background: unquote("rgba(#{$color-white}, 0.12)") !default;

// FAB colors and sizes.
$button-fab-color: unquote("rgba(#{$palette-grey-700}, .20)") !default;
$button-fab-color-alt: unquote("rgba(#{$palette-grey-700}, .20)") !default;
//$button-fab-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-hover-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-active-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-text-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;
$button-fab-ripple-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;

// Icon button colors and sizes.
$button-icon-color: unquote("rgb(#{$palette-grey-700})") !default;
$button-icon-focus-color: $button-focus-color !default;